@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Road+Rage&display=swap');
/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Road Rage', cursive; */
/* font-family: 'Rajdhani', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input:focus {
  outline: none
}

input {
  border: 0px;
}

.login {
  width: 100%;
  display: flex;
  object-fit: cover;
}

.login img{
  background-image: url('./assets/images/loginBack.jpg');
  width: 50vw;
  height: 100vh;
  background-size: cover;
}

.login div {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login div h2 {
  font-size: 3vw;
}

.login div button {
  width: 150px;
}

.login div button span {
  width: 500px;
}

*{
  font-family: 'Poppins';
  font-weight: 200;
}

* h1 {
  font-weight: 500;
}

.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dashHead {
  width: 100%;
}
 /* .dashHead img { 
  width: 200px;
} */

.dashHead h2{
  font-size: 5vw;
  font-family: 'Road Rage'; 
}

.setGoals {
  /* display: flex; */
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.monthlyGoals {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.unit {
  margin-top: 50px;
}

.unit h1 {
  font-size: 2vw;
  font-weight: 300;
}

.unit input {
  padding: 20px;
  border-radius: 12px;
  border: 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  width: 45vw;
  margin-top: 15px;
  font-size: 1vw;
}


.weeklyGoals {
  margin-top: 50px;
  text-align: left;
}

.weeklyGoals h1{
  font-weight: 300;
  font-size: 2vw;
}

.weeks {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}

.weekUnit {
  display: flex;
  box-shadow: 1px 2px 5px rgba(184, 184, 184, 0.42);
  margin-top: 40px;
  border-radius: 7px;
  width: fit-content;
}

.weekUnit label {
  font-size: 2vw;
  font-weight: 300;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
}

.weekUnit input {
  font-size: 1.5vw;
  width: 8vw;
  padding: 10px;
  padding-left: 50px;
  background-color: rgb(206, 206, 206);
  border-radius: 7px;
  text-align: center;
}

.weeklyGoals button {
  padding: 10px 50px 10px 50px;
  background-color: #00B860;
  border-radius: 7px;
  border: 0px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  box-shadow: 0px 3px 5px rgba(184, 184, 184, 0.42);
  font-size: 2vw;
  /* margin-top: 110px; */
  width: 50%;
  align-self: center;
  margin-bottom: 50px;

}

.registeredHead {
  display: flex;
  justify-content: space-evenly;
}

.registeredHead h1 {
  font-size: 48px;
}

.grid {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 10vw 10vw 20vw 10vw;
  justify-items: center;
  margin-left: 50px;
}

.wait {
  grid-column: 1 / span 3;
  background-color: rgb(231, 231, 231);
  display: block;
  width: 100%;
  text-align: center;
  margin: 50px;
  padding: 50px;
  border-radius: 7px;
}

.week {
  box-shadow: -1px 3px 5px rgba(184, 184, 184, 0.42);
  border-radius: 7px;
  display: block;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 40px;
  /* background: #000 */
}

.done{
  box-shadow: 1px 3px 5px rgba(184, 184, 184, 0.42);
  border-radius: 7px;
  display: block;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 40px;
  /* background: #000; */
}

.comment {
  box-shadow: 5px 3px 5px rgba(184, 184, 184, 0.42);
  border-radius: 7px;
  display: block;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 40px;
  font-size: 0.8vw;
  word-wrap: break-word;
  /* background: #000 */
}

.check {
  display: block;
  width: 150px;
  /* background-color: black; */
  padding: 40px;
  align-self: center;
}

.grid label {
  box-shadow: -1px 3px 5px rgba(184, 184, 184, 0.42);
  border-radius: 7px;
  display: block;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 40px;
  padding-top: 60px;
}

.grid input{
  box-shadow: -1px 3px 5px rgba(184, 184, 184, 0.42);
  border-radius: 7px;
  display: block;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 40px;
  background-color: rgb(179, 179, 179);
  font-size: 1.5vw;
}

.grid textarea{
  box-shadow: 5px 3px 5px rgba(184, 184, 184, 0.42);
  border-radius: 7px;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 4px;
  background-color: rgb(179, 179, 179);
  word-wrap: break-word;
  outline: none;
  border: 0px;
  resize: none;
  display: table-cell;
  vertical-align: middle;
  padding-top: 50px;
}

.update {
  box-shadow: 5px 3px 5px rgba(184, 184, 184, 0.42);
  display: block;
  cursor: pointer;
}

.dash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.registeredHead h1 {
  font-size: 4vw;
}

.Link {
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  margin-top: 20px;
}

.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 110px;
}