@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,800;1,900&family=Road+Rage&display=swap');
/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Road Rage', cursive; */

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login {
  width: 100%;
  display: flex;
  object-fit: cover;
}

.login img{
  background-image: url('./assets/images/loginBack.jpg');
  width: 50vw;
  height: 100vh;
  background-size: cover;
}

.login div {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login div h2 {
  font-size: 3vw;
}

.login div button {
  width: 150px;
}

.login div button span {
  width: 500px;
}

.dashboard *{
  font-family: 'Poppins';
  font-weight: 500;
}